.grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px; /* grid-space to left */
    padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
}

[class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    /*padding-right: 10px; !* column-space *!*/
    padding-right: 0px; /* column-space */
}

[class*='col-'] [class*='col-'] {
    padding-right: 0;
}

/* Mobile Layout */

[class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 0px; /* column-space */
    padding-bottom: 0;
}

.mobile-col-1-1 {
    width: 100%;
}
.mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
}

.mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
}

.mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
}

.mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
}

.mobile-col-1-5 {
    width: 20%;
}

.mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
}

.mobile-col-1-7 {
    width: 14.28%;
}

.mobile-col-1-8 {
    width: 12.5%;
}

.mobile-col-1-9 {
    width: 11.1%;
}

.mobile-col-1-10 {
    width: 10%;
}

.mobile-col-1-11 {
    width: 9.09%;
}

.mobile-col-1-12 {
    width: 8.33%
}

/* Layout Columns */

.mobile-col-11-12 {
    width: 91.66%
}

.mobile-col-10-12 {
    width: 83.333%;
}

.mobile-col-9-12 {
    width: 75%;
}

.mobile-col-5-12 {
    width: 41.66%;
}

.mobile-col-7-12 {
    width: 58.33%
}

/*.col-11-15{*/
/*width: 73.33%;*/
/*}*/

/*.col-4-15{*/
/*width: 26.67%;*/
/*}*/

.hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
}