.small-screen-visible{
   display:block;
 }
.small-screen-hidden{
  display:none;
}
.small-screen-align-center{
  text-align: center;
}
//.col-1-menu {
//  width: 100% !important;
//}
//.col-2-menu {
//  @extend .col-1-menu;
//}
.col-1-menu {
  width: 33.33% !important;
}
.col-2-menu {
  width: 65.77% !important;
}
#header{

  .top-cover{

    .top-image img{

    }

    #nav{

      .row{

      }

      #showtimes{
        .time{

        }
        #show-title{

        }
        #showtime-top{
          height: 100%;
          padding-left: 14px;
          padding-right: 23px;
        }

      }

      #menu{
        padding-right:0px;

        .menu-item{
          padding-right: 5px;
          padding-left: 5px;
        }
      }
    }

    #last-episode-container{

      div{
      }
    }

    #socials{

    }

  }
}
.nova-tv-logo.icon {
  top: -17px;
}

.top-bottom-padding {
  padding-top: 25.5px;
  padding-bottom: 20.5px;
}