#header{

  .top-cover{

    .top-image img{

    }

    #nav{

      .row{

      }

      #showtimes{

        .time{

        }
        #showtime-top{
          padding-left: 64px;
          padding-right: 10px;
        }
        #show-title{
         @extend #showtime-top;
        }


      }

      #menu{

        .menu-item{
        }
      }
    }

    #last-episode-container{

      div{
      }
    }

    #socials{

    }

  }
}

.curtainObject  {
  .curtainObject-description {
    .curtainObject-content{
      margin: auto 32%;

    }

  }
}

.nova-tv-logo.icon {
  left: 15px;
}

.col-1-menu {
  //width: 31.33%;
  width: 41.33%;
}
.col-2-menu {
  width: 57.77%;
}