
$CONTENT_FONT_SIZE: 14px;
$CONTENT_FONT_SIZE_S: 15px;
$CONTENT_FONT_SIZE_M: 16px;
$CONTENT_FONT_SIZE_L: 24px;
$CONTENT_FONT_SIZE_XL: 32px;
#header {
  height: 100%;
}


#header{

  .top-cover{

    .top-image img{

    }

    #nav{

      font-size:$CONTENT_FONT_SIZE_M;
      .row{

      }

      #showtimes{
        .time{

        }
        #show-title{

        }
        #showtime-top{

        }

      }

      #menu{

        .menu-item{

        }
      }
    }

    #last-episode-container{

      div{
      }
    }

    #socials{

    }

  }
}

.curtainObject  {
  .curtainObject-description {
    .curtainObject-content{
      margin: auto 30%;

    }

  }
}
#about-container {
  margin: 0px;
  padding: 90px;
  line-height: 33px;
  font-size: $CONTENT_FONT_SIZE_M;
}