$BACKGROUND_MAIN: rgba(45, 46, 52, 1);
$BACKGROUND_CONTAINER: rgba(86, 85, 88, 1);
$BACKGROUND_CONTENT: #2d2e34;
$BACKGROUND_NOVA_TV: #c80a1e;
$STANDARD_CONTENT_LAYOUT_DISTANCE: 23px;

$MENU_HEIGHT: 80px;
$MENU_BUTTONS_MARGIN_DISTANCES: 30px;

$CONTENT_PADDING: 40px;
$CONTENT_MARGIN: 40px;

$CONTENT_FONT_SIZE: 12px;
$CONTENT_FONT_SIZE_S: 13px;
$CONTENT_FONT_SIZE_M: 14px;
$CONTENT_FONT_SIZE_L: 20px;
$CONTENT_FONT_SIZE_XL: 32px;

$ICON_SIZE: 35px;

@mixin backgroundContainer($opacity:1){
  background-color: rgba(86, 85, 88, $opacity);
}
@mixin background($opacity:1, $darkness:0){
  background-color: rgba(45, 46, 52, $opacity);
}

@mixin verticalCenter(){
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@mixin defaultText($font_size:$CONTENT_FONT_SIZE){
  font-size: $font_size;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight:100;
}
@mixin defaultContent($margin:0px, $padding:0px){
  margin:$margin;
  padding:$padding;
  line-height: 40px;
  font-size: $CONTENT_FONT_SIZE;
}

@mixin inRelativeContentBottomRight($position:0, $size:82px){
  position:absolute;

  $position_right: 0px;
  $position_bottom: $position * $size;

  right:$position_right;
  bottom:$position_bottom;
}

@mixin inRelativeContentBottom($position:0, $size:82px){
  position:absolute;

  $position_left: 0px;
  $position_bottom: $position * $size;

  left:$position_left;
  bottom:$position_bottom;
}

.mobile-visible{
  display:none !important;
}

body, html {
  @include defaultText();
  padding:0px;
  margin:0px;
}

h1, h2, .paragraph{
 @include defaultContent;
}

h1 {
  color: $BACKGROUND_MAIN;
  font-size: $CONTENT_FONT_SIZE*1.7;
}
h2{
  color: $BACKGROUND_MAIN;
  font-size:17px;
}

a {
  color:white;
  text-decoration: none;
}

a:hover
{
  text-decoration:none;
  cursor:pointer;
}
.fixedTop{
  position:fixed !important;
  top:0px;
  z-index:10000000;
  background-color: $BACKGROUND_CONTENT !important;
  -webkit-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
}
.justify{
  text-align: justify;
}
.bold{
  font-weight: bold;
}
.button{
  cursor:pointer;
}
.dark{
  color: black;
}
.button:hover{
  opacity:0.8;
}
.background {
  background-color: $BACKGROUND_CONTENT;
}
.content-padding{
  padding-left:$CONTENT_PADDING;
  padding-right:$CONTENT_PADDING;
}
.fill-height{
  height: 100%;
}
.inline{
  display: inline-block;
}
.align-right{
  text-align:right;
}
.float-right{
  float:right;
}
.relative-container{
  position: relative;
  display: inline-block;
}
.top-bottom-padding{
  padding-top:$STANDARD_CONTENT_LAYOUT_DISTANCE/2;
  padding-bottom:$STANDARD_CONTENT_LAYOUT_DISTANCE/2;
}
.icon{
  display: inline-block;
  width: $ICON_SIZE;
  height: $ICON_SIZE;
  background-size: $ICON_SIZE;
  background-repeat: no-repeat;
}
.icon:hover{
  @extend .transition;
  transform: scale(1.3);
}
.icon.nova-plus{
  @extend .icon;
  background: url(../../images/icons/nova-plus-img.png);
  background-repeat: no-repeat;
  background-size: 70px;
  width: 70px;
}
.icon.nova-tv-logo{
  @extend .icon;
  background: url(../../images/icons/nova-logo.png);
  background-repeat: no-repeat;
  background-size: $ICON_SIZE;
  width: $ICON_SIZE;
  top: 24px;
  left: 24px;
  position: absolute;
}
.icon.facebook{
  @extend .icon;
  background: url(../../images/icons/facebook.png);
  background-repeat: no-repeat;
  background-size: $ICON_SIZE;
  width: $ICON_SIZE;
}
.icon.google{
  @extend .icon;
  background: url(../../images/icons/google.png);
  background-repeat: no-repeat;
  background-size: $ICON_SIZE;
  width: $ICON_SIZE;
}
.icon.twitter{
  @extend .icon;
  background: url(../../images/icons/twitter.png);
  background-repeat: no-repeat;
  background-size: $ICON_SIZE;
  width: $ICON_SIZE;
}
.icon.whatsapp{
  @extend .icon;
  background: url(../../images/icons/whatsapp.png);
  background-repeat: no-repeat;
  background-size: $ICON_SIZE;
  width: $ICON_SIZE;
}
.icon.viber{
  @extend .icon;
  background: url(../../images/icons/viber.png);
  background-repeat: no-repeat;
  background-size: $ICON_SIZE;
  width: $ICON_SIZE;
}
a.link{
  @include defaultText($CONTENT_FONT_SIZE_M);
  text-decoration:none;
}

.highlighted{
  @extend .bold;
  color:$BACKGROUND_NOVA_TV;
}

#header{
  width:100%;
  max-height:100%;
  overflow:hidden;
  text-transform: uppercase !important;

  .top-cover{
    @extend .relative-container;
    width:100%;
    height: inherit;

    .top-image img{
      width:100%;
      //max-width: 100%;
    }

    #nav{
      @include inRelativeContentBottom;
      @include defaultText($CONTENT_FONT_SIZE_M);
      @include background(0.7);
      height:$MENU_HEIGHT;
      width:100%;

      .row{
        height: inherit;
      }

      #showtimes{
        //background: url(../../images/icons/nova-logo.png);
        //background-repeat: no-repeat;
        //background-size: $ICON_SIZE;
        .time{
          font-size: $CONTENT_FONT_SIZE_L;
          text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.79);
          margin-top: -5px;
        }
        #show-title{
          height: 50%;
          padding-left: $STANDARD_CONTENT_LAYOUT_DISTANCE + $ICON_SIZE + $STANDARD_CONTENT_LAYOUT_DISTANCE;
          padding-right: $STANDARD_CONTENT_LAYOUT_DISTANCE;

        }
        #showtime-top{
          @extend #show-title;

          background-color: $BACKGROUND_NOVA_TV;

        }

      }

      #menu{
        padding-right: $MENU_BUTTONS_MARGIN_DISTANCES /2;
        .menu-item{
          display: inline-block;
          margin-top: $MENU_BUTTONS_MARGIN_DISTANCES;
          padding-right: $MENU_BUTTONS_MARGIN_DISTANCES*2;
        }
      }
    }

    #last-episode-container{
      @include inRelativeContentBottom(1);
      @include defaultText;
      height:49px;
      margin-bottom:$STANDARD_CONTENT_LAYOUT_DISTANCE;
      margin-left:$STANDARD_CONTENT_LAYOUT_DISTANCE;
      background-color: rgba(8, 2, 0, 0.6);
      border-radius:50px;
      text-align:center;
      border: 2px solid #e1e1e1;
      padding: 39px;
      padding-top: 5px;
      padding-bottom: 10px;

      div{
        margin-bottom:7px;
      }
    }

    #socials{
      @include inRelativeContentBottomRight(1);
      @include defaultText;
      margin-bottom:$STANDARD_CONTENT_LAYOUT_DISTANCE;
      margin-right:$STANDARD_CONTENT_LAYOUT_DISTANCE;
      //background-color: rgba(255, 255, 255, 0.6);
      border-radius:50px;
      padding: 2px;
      padding-top: 2px;
      padding-bottom: 1px;
    }

  }
}

.content-item{
  padding-bottom: $CONTENT_PADDING;
  border-bottom:2px solid white;

  .content-title{
    font-size: $CONTENT_FONT_SIZE_L;
    padding-top: 33px;
    padding-bottom: 33px;
    text-transform: uppercase;
  }
}

#episode-container{
  text-align: center;
}

#character-container{
  @extend #episode-container;
}
.transition{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.curtainObject{
  display: inline-block;
  position:relative;
  margin-right:$CONTENT_MARGIN;
  overflow: hidden;

  .curtainObject-item{
    width:100%;
  }

  .curtainObject-absolute-item{
    position: absolute;
  }

  .curtainObject-title{
    @include background(0.9);
    bottom:0px;
    font-size:$CONTENT_FONT_SIZE_L;
    text-align: center;

    .curtainObject-content{
      padding: 10px;
    }
  }

  .curtainObject-description{
    @extend .transition;
    @include background(0.8);
    position:absolute;
    display:block;
    height: 100%;
    font-size:$CONTENT_FONT_SIZE_L*0.9;
    top: -95%;

    .curtainObject-content{
      @include verticalCenter;
      height: 100%;
      margin: auto 15%;
      background: url(../../images/icons/arrow-down.png) 50% 100%;
      background-repeat: no-repeat;
    }


  }
  .curtainObject-description.active{
    //margin-top: 0px;
    top:0px;

    .curtainObject-content{
      background: url(../../images/icons/arrow-up.png) 50% 100%;
      background-repeat: no-repeat;
    }
  }


  .curtainObject-background{
    @include backgroundContainer;
    padding-top: 16px;
  }

}

#about-container{
  @include defaultContent(0px, $CONTENT_PADDING);
  //@include background;
  @include backgroundContainer(0.8);
  font-size:$CONTENT_FONT_SIZE_M;
}

.about-background{
  background: url(../../images/o-seriji-background-img.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slick-slide img {
  height: 440px;
}
.be-slick{
  padding-left: 50px;
  padding-right: 50px;
}
.be-slick-sm{
  @extend .be-slick;
}
button.slick-nav-arrow div {
  width: 100%;
  height: 100%;
  background-position: 0px 0px !important;
}
button.slick-nav-arrow.nav-left div{
  background: url(../../images/left-arrow.png) 0 0;
  background-repeat: no-repeat;
  background-size: 32px;
}
button.slick-nav-arrow.nav-right div{
  background: url(../../images/right-arrow.png) 0 0;
  background-repeat: no-repeat;
  background-size: 32px;
}
button.slick-nav-arrow.nav-left{
  //top: 160px;
  top: 200px;
  left: 0px;
}
button.slick-nav-arrow.nav-right{
  //top: 160px;
  top: 200px;
  right:0px;
}
button.slick-nav-arrow{
  width:30px;
  height: 46px;
  /*background-color: rgba(29, 147, 207, 0.3);*/
  display:block;
  padding:0px;
  margin:0px;
  border:0px;
  position: absolute;
  background: transparent;
  z-index: 1000;
}
