.mobile-visible{
  display:block !important;
}
.mobile-hidden{
  display:none !important;
}

.content-item{
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  .content-title{
     padding-top: 14px;
     padding-bottom: 14px;
  }
}

button.slick-nav-arrow.nav-left{
  //top: 160px;
  top: 135px;
  left: 0px;
}
button.slick-nav-arrow.nav-right{
  //top: 160px;
  top: 135px;
  right:0px;
}
.be-slick{
  padding-left: 21px;
  padding-right: 21px;
}

.be-slick-sm{
 @extend .be-slick;
}

#episode-container{
  .be-slick-sm{
    @extend .be-slick;
  }
  .slick-slide img{
    //width: 267px;
    //height: 267px;
    height: 230px;
  }
  button.slick-nav-arrow.nav-right {
    top: 98px;;
    right: -10px;
  }
  button.slick-nav-arrow.nav-left {
    top: 98px;;
    left: -10px;
  }

  button.slick-nav-arrow.nav-right div {
    background-size: 26px;
  }
  button.slick-nav-arrow.nav-left div {
    background-size: 26px;
  }
}
#character-container {
  .slick-slide img {
    height: 330px;
  }
}

.curtainObject  {
  .curtainObject-description {
    .curtainObject-content{
      margin: auto 10%;

    }

  }
}
#header{

  .top-cover{

    .top-image img{

    }

    #nav{

      .row{

      }

      #showtimes{
        .time{

        }
        #show-title{

        }
        #showtime-top{
          padding-left: 7px;
          padding-right: 10px;
        }

      }

      #menu{

        .menu-item{

        }
      }
    }

    #last-episode-container{

      div{
      }
    }

    #socials{

    }

  }
}

